.Home {
  padding: 10px;
}

.Home .loggedIn {
  display: flex;
  justify-content: space-between;
}
/* .Home .fullPatientList {
  border: 1px solid black;
} */

table,
td {
  border-collapse: collapse;
  width: fit-content;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 2px;
}
