.Home {
  padding: 5px;
  height: 100%;
}

.Home .loggedIn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}
/* .Home .fullPatientList {
  border: 1px solid black;
} */

.tableDiv {
  display: flex;
  justify-content: left;
  align-items: center;
}

td {
  border-collapse: collapse;
  width: fit-content;
}

table {
  width: 87%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #1565c0;
  text-align: center;
  padding: 2px;
}

.addChildbutton,
.signOut {
  color: #fff;
  padding: 5px 8px;
  background-color: #1565c0;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 10px;

  border: 0;
}
