@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(248, 235, 207);
}

.App h1 {
  font-family: "Patrick Hand", cursive;
  font-size: x-large;
  text-align: center;
}

.App h2 {
  font-size: small;
  text-align: center;
  color: #1565c0;
  font-family: "Montserrat", sans-serif;
}

.App .loggedIn {
  font-size: small;
  text-align: center;
  color: #1565c0;
  font-family: "Montserrat", sans-serif;
}

.App .profileImage {
  height: 20px;
}

.App button {
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}
